<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Post Job</title>
</head>
<body>

<h2>Post a Job</h2>

<form method="post" action="/save-job">
  <input type="text" name="title" placeholder="Job Title" required><br><br>
  <input type="text" name="description" placeholder="Description" required><br><br>
  <input type="text" name="location" placeholder="Location" required><br><br>
  <input type="number" name="salary" placeholder="Salary" required><br><br>
  <button type="submit">Post Job</button>
</form>

</body>
</html>
